* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background: url('background.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #333;
}


header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(51, 51, 51, 0.8);
    color: #fff;
    padding: 1rem 0;
    text-align: center;
    z-index: 1000;
}
nav ul {
    list-style: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    color: #352d2d;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    margin: 70px auto 20px;
    max-width: 800px;
    border-radius: 10px;
}

main h1 {
    margin-bottom: 20px;
    color: #333;
}

section {
    margin-bottom: 20px;
}

section h2 {
    margin-bottom: 10px;
    color: #555;
}

ul {
    list-style: none;
    padding-left: 0;
}

ul li {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    text-align: left;
}

ul li h3 {
    margin-bottom: 5px;
    color: #333;
}

ul li p {
    margin-left: 15px;
    color: #666;
}
